body, html{
	margin: 0;
	padding: 0;
	background-color: #e6e6e6;
	overflow-x:hidden;
}

.menu-menu-container ul{
	list-style-type: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.menu-menu-container a{
	line-height: 40px;
	color:#fff;
	text-decoration: none;
}

.zeromargin{
	margin: 0;
}

.zeropadding{
	padding: 0;
}

.innercontainer{
	max-width: 1000px;
	position: relative;
	background-color: #fff;
}

.maintitle{
	font-size:30px;
	font-weight:bold;
	line-height:135px;
}

.maintitle a{
	color: #000;
	text-decoration: none;
}

.headersearch{
	padding: 55px 0 0 0;
	text-align:right;
}

.xoxo{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.xoxo h3{
	
	text-decoration: underline;
	color: #a1a1a1;
	text-transform: uppercase;
	font-size: 14px;
}

.xoxo ul{
	margin:0;
	list-style-type: disc;
	padding: 15px 0 0 15px;
}

.xoxo ul li a{
	color:#000;
}

.entry-title a{
	color: #000;
}

#searchform{
	text-align:right;
}

.searchfield{
	border:1px solid #dddddd;
	height:30px; 
	padding: 5px;
}

#searchsubmit{
	border:none;
	background-color:#fff;
	top:3px;
	right:5px;
	position: absolute;
}

.archivemenu{
	padding:30px 0;
}

.entry-content iframe{
	width: 90%;
}

.searchalertbox{
	font-size: 30px;
	line-height: 100px;
}

.youtubeimg{
	width: 90%;
}

@media screen and (max-width: 992px) {


.searchalertbox{
	font-size: 20px;
	line-height: 80px;
}

}

@media screen and (max-width: 768px) {

.maintitle{
	font-size:30px;
	font-weight:bold;
	line-height:75px; 
}

.maintitle a{
	color: #000;
	text-decoration: none;
}

.headersearch{
	padding: 0px 0 20px 0;
	text-align:left;
}

#searchform{
	text-align:left;
}

#searchsubmit{
	border:none;
	background-color:#fff;
	top:3px;
	left:125px;
	position: absolute;
}

.archivemenu{
	padding:0px 0 30px 0;
}

.entry-content iframe{
	width: 100%;
}

.searchalertbox{
	font-size: 16px;
	line-height: 30px;
}

.youtubeimg{
	width: 100%;
}

}




